*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.header-logo{
  width: 4rem;
}


@media screen and (max-width: 550px) {
  .side-bar{
    display: none;
  }
  .job-bottom{
    width: 100%;
  }
  
}




