*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.header-logo{
  width: 4rem;
}


@media screen and (max-width: 550px) {
  .side-bar{
    display: none;
  }
  .job-bottom{
    width: 100%;
  }
  .footer-bottom{
    margin-bottom: 1rem;
  }
  ::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

}




